<form action="'/recipes'" method="post">
  <input type="text" name="" value="name">
  <input type="text" name="" value="ingredients">
  <input type="text" name="" value="cook_time">
  <input type="submit" name="" value="submit">

</form>
